html{
    background: white;
}
body{
    background-color: black;
    color: white;
    border: solid 5px darkgray;
    border-radius: 15px;
    margin: 5rem;
    display: flex;
    padding: 20px;
    text-align: left;
}
#meuGrafico{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
}
h1{
    color: white;
    padding-right: 3rem;
   
}